html, body {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

header {
    margin: 0;
    background-color: red;
    height: 128px;
}

header h1{
    margin: 0;
}

nav {
    width: 100%;
    height: 48px;
    font-size: 14px;
    position: relative;
    z-index: 2;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

nav > ul {
    width: 100%;
    height: 48px;
    margin: 0;
    list-style: none;
    padding-left: 0;
    text-transform: uppercase;
    display: flex;
    align-items: stretch;
}

nav ul li {
    background-color: aqua;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-grow: 1;
}

nav ul li a {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

nav ul li.active {
    background-color: #dddddd;
    border-bottom: 4px solid goldenrod;
}

nav ul li.active:hover {
    background-color: #dddddd;
    border-bottom: 4px solid goldenrod;
}

nav ul li:hover {
    background-color: brown;
    color: purple;
}

footer {
    background-color: blue;
    height: 5%;
}

footer p{
    margin: 0;
}

main {
    background-color: green;
    display: flex;
    height: 150%;
    z-index: 1;
}

article {
    background-color: orange;
    flex: 3;
}

aside {
    background-color: pink;
    flex: 1;
}