html, body {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
}

header {
    margin: 0;
    background-color: red;
    height: 128px;
}

header h1{
    margin: 0;
}

nav {
    height: 48px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

nav ul {
    background-color: purple;
    font-size: 0;
    text-align: left;
    text-transform: uppercase;
}

nav ul li {
    font-size: 13px;
    display: inline-block;
    color: green;
    text-align: center;
}

nav ul li .active{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #dddddd;
    height: 48px;
    padding-left: 24px;
    padding-right: 24px;
}

nav ul li a{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: pink;
    height: 48px;
    color: white;
    padding-left: 24px;
    padding-right: 24px;
}

nav ul li a:hover {
    background-color: #111;
}

footer {
    background-color: blue;
    height: 5%;
}

footer p{
    margin: 0;
}

main {
    background-color: green;
    display: flex;
    height: 150%;
}

article {
    background-color: orange;
    flex: 3;
}

aside {
    background-color: pink;
    flex: 1;
}